<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container-fluid text-center"  style = "color: white;-webkit-text-stroke: 1px black;">
    <h1 class="jumbotron" style = "background-color: #BF5700;"><strong>Mission to Mars</strong></h1>
    <p>
      <a class="btn btn-primary" href="/scrape" role="button" style="margin-top: -135px; color:black; background-color: white;">Scrape New Data</a>
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #BF5700;"><strong>Latest Mars news</strong></h3>
        <h5><strong> {{ mars_data.news_title }}</strong></h5>
        <p> {{mars_data.news_p}} </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-md-6">
        <h3 style="color: #BF5700;"><strong>Featured Mars Image</strong></h3>
        <img src= {{mars_data.featured_image_url}} style = "height:500px;width:600px"> </img>
      </div>
      <div class="col-md-6">
        <h3 style="color: #BF5700;"><strong>Mars Weather</strong></h3>
        <div class="boxed" style ="width: 500px; border: 2px solid #BF5700; padding: 10px; margin: 0px;"> 
          {{mars_data.mars_weather}}
        </div>
        <div class="table-responsive">
          <h3 style="color: #BF5700;"><strong>Mars Facts</strong></h3>
          <table style= "text-align: center;">
          {{mars_data.html_table | safe }}
          </table>
        </div>
      </div>
    </br>
      <div class="col-md-12">
        <h3 style="color: #BF5700;text-align: center;"><strong>Mars Hemispheres</strong></h3> 
        <div class="col-md-6 ">       
          <img  class="center"src= {{mars_data.mars_hemis[0]["img_url"]}} alt = "Cerberus Hemisphere Enhanced" style="height:400px;width:400px;margin-left: 100px;">
          <h5 style= "text-align: center;"><strong>{{mars_data.mars_hemis[0]['title']}}</strong></h5>
        </div>
        <div class="col-md-6"> 
          <img src= {{mars_data.mars_hemis[1]["img_url"]}} alt = "Schiaparelli Hemisphere Enhanced" style="height:400px;width:400px;margin-left: 100px;">
          <h5 style= "text-align: center;" ><strong>{{mars_data.mars_hemis[1]['title']}}</strong></h5>
        </div>
        <div class="col-md-6"> 
          <img src= {{mars_data.mars_hemis[2]["img_url"]}} alt = "Syrtis Major Hemisphere Enhanced"style="height:400px;width:400px;margin-left: 100px;">
          <h5 style= "text-align: center;"><strong>{{mars_data.mars_hemis[2]['title']}}</strong></h5>
        </div>
        <div class="col-md-6 "> 
          <img src= {{mars_data.mars_hemis[3]["img_url"]}} alt = "Valles Marineris Hemisphere Enhanced"style="height:400px;width:400px;margin-left: 100px;">
          <h5 style= "text-align: center;"><strong>{{mars_data.mars_hemis[3]['title']}}</strong></h5>
        </div>
      </div>
    </div> 
  </div>
 
</body>
</html>